<div class="footer-bg">
    <div class="container">
        <div class="row pb-5">
            <div class="col-3">
                <div class="company-info">
                    <div class="logo">
                        <a href="/">
                            <img src="../../../assets/images/logo.png" alt="Logo" title="Logo"/>
                        </a>
                    </div>
                    <div class="description">
                        <p>
                            Lorem Ipsum is simply dummy text of the 
                            printing and typesetting industry. Lorem.
                        </p>
                    </div>
                    <div class="social-links-wrapper">
                        <ul class="social-menu list-unstyled d-flex">
                            <li class="social-item">
                                <a href="https://www.facebook.com/" class="social-link" target="_blank">
                                    <span class="icon-wrapper">
                                        <i class="fa fa-facebook-official icon" aria-hidden="true"></i>
                                    </span>
                                </a>    
                            </li>
                            <li class="social-item">
                                <a href="http://twitter.com/" class="social-link" target="_blank">
                                    <span class="icon-wrapper">
                                        <i class="fa fa-twitter icon" aria-hidden="true"></i>
                                    </span>
                                </a>    
                            </li>
                            <li class="social-item">
                                <a href="https://www.youtube.com/" class="social-link" target="_blank">
                                    <span class="icon-wrapper">
                                        <i class="fa fa-youtube-play icon" aria-hidden="true"></i>
                                    </span>
                                </a>    
                            </li>
                            <li class="social-item">
                                <a href="https://www.instagram.com/" class="social-link" target="_blank">
                                    <span class="icon-wrapper">
                                        <i class="fa fa-instagram icon" aria-hidden="true"></i>
                                    </span>
                                </a>    
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="services">
                  <h4 class="footer-title">
                    Our Services
                  </h4>
                  <div class="services-menu">
                    <ul type="circle" class=" ml-1 pl-3 ">
                        <li class="services-item">
                            <a href="" class="services-link">Nullam sed ante hendrerit</a>
                        </li>
                        <li class="services-item">
                            <a href="" class="services-link">Vestibulum tristique elit</a>
                        </li>
                        <li class="services-item">
                            <a href="" class="services-link">Aliquam non arcu ut justo </a>
                        </li>
                        <li class="services-item">
                            <a href="" class="services-link">Etiam nec turpis varius,</a>
                        </li>
                        <li class="services-item">
                            <a href="" class="services-link">Nullam sed ante hendrerit</a>
                        </li>
                        <li class="services-item">
                            <a href="" class="services-link">Vestibulum tristique elit</a>
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-3">
                <div class="contact">
                    <h4 class="footer-title">
                        Contact
                    </h4>
                    <ul type="circle" class=" ml-1 pl-3 contact-menu ">
                        <li class="phone-number">
                            <a href="tel::2334159872">
                                ( 233 ) 415 9872
                            </a>
                        </li>
                        <li class="address">
                            26 Ringer House, Newyork, 58920 United States
                        </li>
                        <li class="email">
                            <a href="mailto:info@example.com">info@example.com</a>
                        </li>
                        <li class="timing">
                            Mon to Sat: 9:am to 6pm
                        </li>
                        <li class="day-closed">
                            Sunday: Closed
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="news-section">
                    <h4 class="footer-title">
                        Latest News
                    </h4>
                    <div class="news">
                        <div class="news-item d-flex pb-4 ">
                           <div class="news-image">
                                <a href="">
                                    <img src="../../../assets/images/news_1.jpeg" alt="News-image" title="News"/>
                                </a>
                            </div>
                            <div class="news-description ml-4">
                                <div class="news-title">
                                    <a href="" class="news-title-link">
                                        Lorem Ipsum is simply dummy text   
                                    </a>    
                                </div>
                                <div class="news-date">
                                    June 29, 2019
                                </div>
                            </div>
                        </div>
                        <div class="news-item d-flex pb-4 ">
                            <div class="news-image">
                                 <a href="">
                                     <img src="../../../assets/images/news_1.jpeg" alt="News-image" title="News"/>
                                 </a>
                             </div>
                             <div class="news-description ml-4">
                                 <div class="news-title">
                                     <a href="" class="news-title-link">
                                         Lorem Ipsum is simply dummy text   
                                     </a>    
                                 </div>
                                 <div class="news-date">
                                     June 29, 2019
                                 </div>
                             </div>
                         </div>
                         <div class="news-item d-flex  ">
                            <div class="news-image">
                                 <a href="">
                                     <img src="../../../assets/images/news_1.jpeg" alt="News-image" title="News"/>
                                 </a>
                             </div>
                             <div class="news-description ml-4">
                                 <div class="news-title">
                                     <a href="" class="news-title-link">
                                         Lorem Ipsum is simply dummy text   
                                     </a>    
                                 </div>
                                 <div class="news-date">
                                     June 29, 2019
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer d-flex justify-content-between py-3 align-items-center">
            <div class="copy-right-section">
                © 2020 <a href="/">RohitMilk.</a> All rights reserved. Designed and Developed by <a href="https://akshaychidre.com" target="_blank">Achidre</a>
            </div>
            <div class="tearm-condition">
                <ul class="footer-menu d-flex list-unstyled mb-0">
                    <li>
                        <a href="/">
                            terms and condition
                        </a>
                        | 
                    </li>
                    <li>
                        <a href="/" class="ml-1">
                            Privacy and policy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>