<div class="main">
    <div class="banner">
        <div class="banner-image">
            <img src="../../../assets/images/news_1.jpeg" alt="Banner-Image" title="Banner-Image"/>
        </div>
    </div>
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="about-images" data-aos="fade-up-right">
                        <div class="lg-image">
                           <div class="image-wrapper">
                             <img src="../../../assets/images/news_1.jpeg" alt="About-lg-image" title="About-image"/>
                           </div>
                        </div>
                        <div class="sm-image" data-aos="fade-down">
                            <div class="image-wrapper">
                                <img src="../../../assets/images/news_1.jpeg" alt="About-lg-image" title="About-image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" data-aos="fade-right">
                    <div class="short-description">
                        <div class="title-section">
                            <h6 class="sm-title">the rohit milk company</h6>
                            <h2 class="md-title">
                                Contrary to popular belief, Lorem Ipsum is 
                                not simply.
                            </h2>
                        </div>  
                        <div class="description">
                            <p class="text">
                                There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or 
                                randomised words which don't look even slightly believable. 
                                If you are going to use a passage of Lorem Ipsum, you need 
                                to be sure there
                            </p>
                            <p class="text">
                                The standard chunk of Lorem Ipsum used since the 1500s 
                                is reproduced below for those interested. Sections 1.10.32
                                and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied 
                                by English versions from the 1914 translation by H. Rackham.
                            </p>
                        </div>
                        <ul class="info-list list-unstyled">
                            <li class="d-flex">
                                <i class="fa fa-cogs icon" aria-hidden="true"></i>
                                <span class="title">
                                    All the Lorem Ipsum generators on the Internet 
                                    tend to repeat predefined chunks as necessary
                                </span>
                            </li>
                            <li class="d-flex">
                                <i class="fa fa-user-o icon" aria-hidden="true"></i>
                                <span class="title">
                                    All the Lorem Ipsum generators on the Internet 
                                    tend to repeat predefined chunks as necessary
                                </span>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="button">
                        About us <i class="fa fa-chevron-right icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
   <div class="container"  data-aos="zoom-in-down"> 
        <div class="service-call-section">
            <div class="d-flex justify-content-around">
                <h3 class="title">
                    Need a service & ready to book? Call us
                </h3>
                <div class="number">
                    <h3 class="title">
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <a href="tel::2334159872"> ( 233 ) 415 9872 </a>                
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative" >
        <div class="services-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 pl-0 z-index">
                        <div class="ml-4 pb-4" >
                            <div class="title-section">
                                <h6 class="sm-title">the rohit milk company</h6>
                                <h2 class="md-title">
                                    Featured & Smart Services
                                </h2>
                            </div> 
                            <div class="description">
                                <p>
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or 
                                    randomised words which don't look even slightly believable. 
                                    If you are going
                                </p>
                            </div> 
                        </div>
                        <div class="service-img" data-aos="fade-down-right">
                            <div class="image">
                                <img src="../../../assets/images/news_1.jpeg" alt="Service Image" title="Service Image"/>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="services">
                            <div class="first-service pb-4">
                                <div class="d-flex justify-content-around">
                                    <div class="service-icon-wrapper">
                                        <i class="fa fa-cogs icon" aria-hidden="true"></i>
    
                                    </div>
                                    <div class="information">
                                        <div class="title">
                                            <h4>
                                                Lorem Ipsum is simply
                                            </h4>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry. Lorem Ipsum has been the
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-service pb-4">
                                <div class="d-flex justify-content-around">
                                    <div class="service-icon-wrapper">
                                        <i _ngcontent-lab-c18="" aria-hidden="true" class="fa fa-user-o icon"></i>
                                    </div>
                                    <div class="information">
                                        <div class="title">
                                            <h4>
                                                Lorem Ipsum is simply
                                            </h4>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry. Lorem Ipsum has been the
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="third-service pb-4">
                                <div class="d-flex justify-content-around">
                                    <div class="service-icon-wrapper">
                                        <i class="fa fa-home icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="information">
                                        <div class="title">
                                            <h4>
                                                Lorem Ipsum is simply
                                            </h4>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry. Lorem Ipsum has been the
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="button">
                                View all services
                                <i _ngcontent-elm-c18="" aria-hidden="true" class="fa fa-chevron-right icon ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-overview">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="d-flex col-9 justify-content-between bg-white p-0">
                        <div class="project-box" data-aos="slide-up">
                            <div class="project-icon">
                                <i class="fa fa-home icon" aria-hidden="true"></i> 
                            </div>
                            <div class="count">
                                <span class="count-text">
                                    89+
                                </span>
                            </div>
                            <h4 class="couter-title">
                                distribute
                            </h4>
                        </div>
                        <div class="project-box" data-aos="slide-up"> 
                            <div class="project-icon">
                                <i class="fa fa-home icon" aria-hidden="true"></i> 
                            </div>
                            <div class="count">
                                <span class="count-text">
                                    20+
                                </span>
                            </div>
                            <h4 class="couter-title">
                                Product
                            </h4>
                        </div>
                        <div class="project-box company-exprience" data-aos="slide-up">
                            <div class="project-icon">
                                <i class="fa fa-briefcase icon" aria-hidden="true"></i>
                            </div>
                            <div class="count">
                                <span class="count-text">
                                    10+
                                </span>
                            </div>
                            <h4 class="couter-title">
                                Years Of Experience 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <section class="gallery-section">
        <div class="container">
            <div class="title-section row align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <span class="sm-title"> Our Latest Images</span>
                    <h2 class="md-title">Our Latest Images</h2>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="text">
                        Exercitation ullamco laboris nisi ut aliquip exa aute 
                        irure dolor reprehenderit in voluptate velit esse cillum.
                    </p>
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-end">
                    <a href="#" class="primary-button">View More</a>
                </div>
            </div>
            <div class="images-section">
                <div *ngFor="let image of albums; let i=index" class="image-item">
                    <img [src]="image.thumb" (click)="open(i)" />
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 title-column">
                    <div class="inner-column">
                        <div class="icon">
                            <i class="fa fa-envelope-open-o icon" aria-hidden="true"></i>
                        </div>
                        <div class="text-information">
                            <h2 class="title">Subscribe to Our Newsletter</h2>
                            <div class="text">
                                Stay in touch with us to get latest news and discount coupons
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="from-column">
                        <div class="inner-column">
                            <div class="subscribe-form">
                                <form action="">
                                    <div class="form-group">
                                        <input type="email" autocomplete="off" class="subscribe-mail" name="mail" placeholder="Email address"/>
                                        <button class="submit-btn" type="submit">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team-section">
        <div class="container">
            <div class="title-section row align-items-center">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <span class="sm-title">THE ROHIT MILK COMPANY</span>
                    <h2 class="md-title">Our Team Members </h2>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                    <p class="text">
                        Exercitation ullamco laboris nisi ut aliquip exa aute 
                        irure dolor reprehenderit in voluptate velit esse cillum.
                    </p>
                </div>
            </div>
            <div class="team-members">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide >
                        <div class="member-item" data-aos="zoom-in-down">
                            <div class="image-box">
                                <img src="../../../assets/images/third_member.jpeg" alt="First Member" />
                            </div>
                            <div class="info-box">
                                <h4 class="name"> James Logan</h4>
                                <span class="designation">co-founder</span>
                                <ul class="social-links">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                            <span>facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com" target="_blank"> 
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com" target="_blank"> 
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <span>Youtube</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank"> 
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>        
                    </ng-template>
                    <ng-template carouselSlide >
                        <div class="member-item" data-aos="zoom-in-down">
                            <div class="image-box">
                                <img src="../../../assets/images/second_member.jpeg" alt="First Member" />
                            </div>
                            <div class="info-box">
                                <h4 class="name">George Daniel</h4>
                                <span class="designation">CEO</span>
                                <ul class="social-links">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                            <span>facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com" target="_blank"> 
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com" target="_blank"> 
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <span>Youtube</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank"> 
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>        
                    </ng-template>
                    <ng-template carouselSlide >
                        <div class="member-item" data-aos="zoom-in-down">
                            <div class="image-box">
                                <img src="../../../assets/images/first_member.jpeg" alt="First Member" />
                            </div>
                            <div class="info-box">
                                <h4 class="name"> Paul Steven</h4>
                                <span class="designation">manager</span>
                                <ul class="social-links">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"> 
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                            <span>facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com" target="_blank"> 
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com" target="_blank"> 
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            <span>Youtube</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com" target="_blank"> 
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>        
                        
                    </ng-template>
                    
                </owl-carousel-o>
            </div>
        </div>
    </section>
    
</div>